/* ---------------------------- */
/* Custom properties ---------- */
/* ---------------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    /* --fs-900: clamp(5rem, 7vw + 1rem, 9.375rem); */
    --fs-900: clamp(8.5rem, 7vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}

/* ---------------------------- */
/* Reset ---------------------- */
/* ---------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    /* font-family: 'Barlow'; */
    /* font-size: ; */
}

/* Reset body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark));
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* Reset images */
img,
picture {
    max-width: 100%;
    /* display: block;  */
    /* Since we use the hidden html attribute for picture, the above line needs to be commented out.
       The reason is hidden gets very easily overwritten by CSS if we have something like display inline/inline-block, 
       or anything display-related in the CSS, hidden won't work  */
}

/* Reset form elements */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---------------------------- */
/* Utility classes ------------ */
/* ---------------------------- */

/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
    padding-top: 1rem;
}

.flow>*:where(:not(:first-child)) {
    /* The above is the hidden pickering */
    margin-top: var(--flow-space, 1rem);
    /* outline: 1px solid red; */
}

.flow--space-small {
    --flow-space: .5rem;
}

.container {
    /* logical properties on the next 2 lines */
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    /* added line */
    white-space: nowrap;
    border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

.box {
    background: lightblue;
    padding: 3rem;
}

/* Colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

/* Typography */
.ff-serif {
    font-family: var(--ff-serif);
}

.ff-sans-cond {
    font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
    font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/* number title */
.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px;
}

.numbered-title>span {
    margin-right: .5rem;
    font-weight: 700;
    color: hsl(var(--clr-white) / .25)
}

/* ---------------------------- */
/* Components ----------------- */
/* ---------------------------- */

.large-button {
    font-size: 1.5rem;
    position: relative;
    /* 0 top & bottom, 2em left & right */
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    /* Turns the button into a perfect square */
    aspect-ratio: 1;
    text-decoration: none;
}

.large-button::after {
    /* When using pseudo element, we always need the content like so */
    content: '';
    position: absolute;
    z-index: -1;
    background: hsl(var(--clr-white) / .15);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 500ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}

/* primary-header */
.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
}

.primary-header {
    justify-content: space-between;
    align-items: center;
}

/* primary navigation */
.primary-navigation {
    /* This selector should be written before media query.
       Otherwise, it will be overriden by the following media query in this case */
    --gap: clamp(1.5rem, 7vw, 3.5rem);
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(var(--clr-dark) / 0.95);
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-right: .5em;
}

@supports(backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --underline-gap: 1rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(../img/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../img/shared/icon-close.svg)
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
    }

    .primary-navigation.underline-indicators>.active {
        border: 0;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        padding-inline: clamp(3rem, 5vw, 7rem);
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
    .primary-navigation a>span {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        width: 100%;
        margin-right: -2.5rem;
        background: hsl(var(--clr-white) / .25);
        order: 1;
    }

    nav {
        order: 2;
    }

    .primary-navigation {
        margin-block: 2rem;
    }
}

.tab-list {
    --gap: 2rem;
}

/* underline indicators */
.underline-indicators>* {
    cursor: pointer;
    /* Select all chidren of the underline indicators */
    padding: var(--underline-gap, .75rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);
    background-color: transparent;
}

.underline-indicators>*:hover,
.underline-indicators>*:focus {
    border-color: hsl(var(--clr-white) / .5);
}

.underline-indicators>.active,
.underline-indicators>[aria-selected="true"] {
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
}

/* dot indicator */
.dot-indicators>* {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl(var(--clr-white) / .25);
}

.dot-indicators>*:hover,
.dot-indicators>*:focus {
    background-color: hsl(var(--clr-white) / .5);
}

.dot-indicators>[aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1);
}

/* number indicators */
.number-indicators>* {
    cursor: pointer;
    border: 0.5;
    border-color: hsl(var(--clr-white) / .15);
    display: flex;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    padding: .7em;
    background-color: transparent;
    font-size: var(--fs-500);
    justify-content: space-evenly;
    margin-bottom: .5em;
}

.number-indicators>*:hover,
.number-indicators>*:focus {
    border-color: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-white));
}

.number-indicators>[aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-dark));
}

.number-indicators>[aria-selected="false"] {
    color: hsl(var(--clr-white));
}

@media (min-width: 35em) {}

@media (min-width: 45em) {
    .number-indicators {
        display: grid;
    }
}

/* ---------------------------- */
/* Page specific background --- */
/* ---------------------------- */

body {
    background-size: cover;
    background-position: bottom center;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
}

/* home */
.home {
    background-image: url(../img/home/background-home-mobile.jpg);
}

.grid-container--home h1 {
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.grid-container--home p {
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 35rem) {
    .home {
        background-position: center center;
        background-image: url(../img/home/background-home-tablet.jpg);
    }

    .grid-container--home h1 {
        padding-top: 5rem;
        padding-bottom: 1.5rem;
    }

    .grid-container--home p {
        padding-inline: 10rem;
        padding-bottom: 7rem;
    }

    .grid-container--home .large-button {
        font-size: 2rem;
    }
}

@media (min-width: 45rem) {
    .home {
        background-image: url(../img/home/background-home-desktop.jpg);
    }

    .grid-container .grid-container--home {
        padding-top: 4rem;
    }

    .grid-container--home h1 {
        padding-top: 0;
    }

    .grid-container--home p {
        padding-inline: 0rem;
        padding-bottom: 0rem;
    }

    .grid-container--home .large-button {
        font-size: 2rem;
    }

    .grid-container--home>*:first-child {
        grid-column: 2;
    }

    .grid-container--home>*:last-child {
        grid-column: 3;
    }
}

/* destination */
.destination {
    background-image: url(../img/destination/background-destination-mobile.jpg);
}

@media (min-width: 35rem) {
    .destination {
        background-position: center center;
        background-image: url(../img/destination/background-destination-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .destination {
        background-image: url(../img/destination/background-destination-desktop.jpg);
    }
}

/* crew */
.crew {
    background-image: url(../img/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
    .crew {
        background-position: center center;
        background-image: url(../img/crew/background-crew-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .crew {
        background-image: url(../img/crew/background-crew-desktop.jpg);
    }
}

/* technology */
.technology {
    background-image: url(../img/technology/background-technology-mobile.jpg);
}

@media (min-width: 35rem) {
    .technology {
        background-position: center center;
        background-image: url(../img/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 45rem) {
    .technology {
        background-image: url(../img/technology/background-technology-desktop.jpg);
    }
}

/* ---------------------------- */
/* Layouts -------------------- */
/* ---------------------------- */

.grid-container p:not([class]) {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;
}

/* destination layout */
.grid-container--destination {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination>picture {
    grid-area: image;
    max-width: 60%;
    align-self: start;
}

.grid-container--destination>.tab-list {
    grid-area: tabs;
}

.grid-container--destination>.destination-info {
    grid-area: content;
    padding-inline: 1.5rem;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl(var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.destination-meta p {
    font-size: 1.75rem;
}

@media (min-width: 35em) {
    .grid-container--destination>.destination-info {
        grid-area: content;
        padding-inline: 5rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: 45em) {
    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas:
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid-container--destination>.destination-info {
        grid-area: content;
        padding-inline: 0rem;
    }

    .grid-container--destination>picture {
        max-width: 90%;
    }

    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }
}

/* crew layout */
.grid-container--crew {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--crew>picture {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl(var(--clr-white) / .1);
}

.grid-container--crew>.dot-indicators {
    grid-area: tabs;
}

.grid-container--crew>.crew-details {
    grid-area: content;
    padding-inline: 1.5rem;
}

.crew-details h2 {
    color: hsl(var(--clr-white) / .5);
    /* Using "opacity: .5;" would give you the same effect */
}

@media (min-width: 35em) {
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }

    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas:
            'title'
            'content'
            'tabs'
            'image';
    }

    .grid-container--crew>.crew-details {
        grid-area: content;
        padding-inline: 5rem;
    }
}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 0.5fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }

    .grid-container--crew {
        grid-template-columns: minmax(1rem, 0.5fr) minmax(0, 37rem) minmax(0, 23rem) minmax(1rem, 1fr);
        justify-items: start;
        grid-template-areas:
            '. title title .'
            '. content image .'
            '. tabs image .';
    }

    .grid-container--crew>.crew-details {
        grid-area: content;
        padding-inline: 0.5rem;
    }

    /* .grid-container--crew>.dot-indicators {
        justify-self: start;
    } */

    .grid-container--crew>picture {
        grid-column: span 2;
        align-self: end;
        max-width: 100%;
    }
}

/* technology layout */
.grid-container--technology {
    --flow-space: 2rem;
    grid-template-areas:
        'title'
        'image'
        'tabs'
        'content';
    padding-inline: 0;
}

.grid-container--technology>picture {
    grid-area: image;
}

.grid-container--technology>.number-indicators {
    grid-area: tabs;
}

.grid-container--technology>.technology-details {
    grid-area: content;
    padding-inline: 2rem;
}

.grid-container--technology #vehicle-portrait,
#capsule-portrait,
#spaceport-portrait {
    display: none;
}

@media (min-width: 35em) {
    .grid-container--technology>.numbered-title {
        padding-left: 1rem;
    }

    .grid-container--technology>.technology-details {
        grid-area: content;
        padding-inline: 9rem;
        padding-bottom: 5rem;
    }

    .technology-details {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--technology {
        padding-bottom: 0;
        grid-template-areas:
            'title'
            'image'
            'tabs'
            'content';
    }

    .grid-container--technology #vehicle-portrait,
    #capsule-portrait,
    #spaceport-portrait {
        display: none;
    }
}

@media (min-width: 45em) {
    .grid-container--technology {
        padding-inline-start: 0.5rem;
        grid-template-columns: minmax(1rem, 0.5fr) minmax(0, 6rem) minmax(0, 35rem) minmax(0, 20rem) minmax(1rem, 1fr);
        grid-template-areas:
            '. title title title .'
            '. tabs content image .';
        justify-items: end;
        align-content: end;
    }

    .technology-details {
        justify-content: start;
    }

    .grid-container--technology>.technology-details {
        grid-area: content;
        padding-left: 1.5rem;
        padding-right: 0rem;
    }

    .grid-container--technology>picture {
        grid-column: span 2;
        align-self: end;
        max-width: 85%;
        padding-bottom: 5rem;
    }

    .grid-container--technology #vehicle-landscape,
    #capsule-landscape,
    #spaceport-landscape {
        display: none;
    }

    .grid-container--technology #vehicle-portrait,
    #capsule-portrait,
    #spaceport-portrait {
        display: block;
    }
}